<h1> Welcome to the secret page</h1>
<form action="logout" method="GET">
    <input type="submit" class="btn btn-success btn-block" value="Logout">
    <div class="form-footer">
    </div>
</form>