<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel="stylesheet" href="/css/styles.css">
  <title>
    Search Product
  </title>
</head>

<body>
  <header class="inner">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <a class="navbar-brand" href="#"><img src="logo1.jpeg" href="#" class="justify-content-center img-fluid">The
        Product Hub</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="/"><i class="fas fa-home"></i> Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="fab fa-product-hunt"></i> Product Category
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Food</a>
              <a class="dropdown-item" href="#">Electronic</a>
              <a class="dropdown-item" href="#">Fashion</a>
              <a class="dropdown-item" href="#">Entertainment</a>
              <a class="dropdown-item" href="#">Home Supplies</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Other</a>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-id-card"></i> Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fa fa-info-circle" aria-hidden="true"></i> About Us</a>
          </li>
          <li></li>
        </ul>
        

      </div>
      <form class="form-inline my-2 my-lg-0 ml-auto">
        <input class="form-control" href="/search" name="searchToken" placeholder="Search..." aria-label="Search">
        <button class="btn btn-outline-white btn-md my-2 my-sm-0 ml-3" type="submit">Search</button>
      </form>
     
    </nav>
    
  </header>
  <div class="container-fluid my-5 mx-auto">

    <!-- Product Card -->
    <% if((product.length )>0){ %>
    
      <% product.forEach(function(product){ %>
      <div class="col-md-6 mx-auto">
        <div class="card rounded mb-4">
          <div class="card-image">
            <img class="img-fluid"
              src="https://cdn.pixabay.com/photo/2017/04/04/18/14/video-game-console-2202635_1280.jpg"
              alt="Image of product" />
          </div>



          <div class="textCard m-auto">
            <h5><%= product.name %> </h5>
            <span class="detailCard"><%= product.brand_name %></span>
            <span class="detailCard"><%= product.category %></span>
            <span class="detailCard">PID</span>
          </div>
          <div class="card-body text-center">
            <div class="ad-title m-auto">
              <p><%= product.question %></p>
              <p>--User --Date</p>

            </div>
            <a class="btn" href="#">Comments</a>
          </div>
        </div>
      </div>
    
    <% }); %>

  
  <% } else{ %>
  <h1>No Result to Display</h1>
  <% } %>

</div>
  
</body>

</html>