<section id="search" class="search-wrap">


  <h1>Find A Coding Product</h1>
  <form action="/products/search" class="search-form">
    <i class="fas fa-search"></i>
    <input type="search" name="searchToken" placeholder="Search Product...">
    <input type="submit" value="Search">
  </form>
</section>