<!doctype html>
<html lang="en">

<head>
    <title>Home</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href= "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Font Awesome Icons-->
    <script src="https://kit.fontawesome.com/44fabe5a7c.js" crossorigin="anonymous"></script>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300&display=swap" rel="stylesheet"> 
    <!-- <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet"> -->
</head>

    <body>
        <!-- Navigation Bar -->
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="/"><img src="logo1.jpeg" href="#" class="justify-content-center img-fluid">The Product Hub</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="#"><i class="fas fa-home"></i> Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fab fa-product-hunt"></i> Product Category
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Food</a>
                            <a class="dropdown-item" href="#">Electronic</a>
                            <a class="dropdown-item" href="#">Fashion</a>
                            <a class="dropdown-item" href="#">Entertainment</a>
                            <a class="dropdown-item" href="#">Home Supplies</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Other</a>
                        </div>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="/ProductForm"><i class="fas fa-sticky-note"></i> Product Form</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact"><i class="fas fa-id-card"></i> Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about"><i class="fa fa-info-circle" aria-hidden="true"></i> About Us</a>
                    </li>
                </ul>

                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search">
                    <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>

	<div class="row">
		<div class="col">
		</div>
	 	<div class="col-md-6 mt-5">
	   		<h1 class="text"> What would you like to do today?</h1>
	    </div>
		<div class="col">
		</div>
	</div>

	<div class="row">
		<div class="col">
		</div>
	    <div class="col-6">
	        <a href="/ProductForm"><button class="btn btn-block whitetext p-3 mt-5" >Post a Product</button></a>
	    </div>
		<div class="col">
		</div>
	</div>
	<div class="row">
		<div class="col">
		</div>	
		<div class="col-6">
	        <a href="/profile"><button class="btn btn-block whitetext p-3 mt-5">View My Profile</button></a>
	    </div>
	    <div class="col">
		</div>
    </div>
     
        
    <div class="row justify-content-center">
	    <div class="col">
	    </div>
		<div class="col-6 mt-5">
            <hr class="my-4">
            <h3 class="text m-5">Need to logout?</h3>
	    	<form action="logout" method="GET">
	    		<div class="form-group">
		   			<input type="submit" class="btn btn-block orange" value="Logout">
		   		</div>
			</form>
		</div>
		<div class="col">
	    </div>
    </div>


    <!-- CSS -->
        <style type="text/css">
            a:link{
                text-decoration:  none;
            }
            .header{
                text-shadow: 2px 2px 2px #4D4845, 3px 2px 3px #ccc, 1px 1px 1px #000000;
            }
            .text{
                font-family: 'Ubuntu', sans-serif;
                text-align: center;
                color:#4D4845;
            } 
            .btn{
                font-family: 'Ubuntu', sans-serif;
                text-align: center;
                background-color:#4D4845;
            }  
            .whitetext{
                color: #FFFFFF;
            }
            .orange{
                background-color: #fcaf8d;
            }   
            .form-control {
                box-shadow: none;
                font-weight: normal;
            }
            .background{
                background-color: #4D4845;
            }
            .navbar .dropdown-menu.form-wrapper {
                width: 300px;
                padding: 15px;
                left: auto;
                right: 0;
            }
            .navbar{
                background-color: #4D4845;
            }      
            .jumbotron{
                background: linear-gradient(#FC9C73, #FFFFFF);
                min-height: 350px;   
            }
            .darktext{
                color: #4D4845;
                font-family: 'Ubuntu', sans-serif;
            }

            img{
                width: 15%;
            }
            .border1{
                border-right: 1px solid #ccc;
                width: 30px;
                height: 300px;
                border-image: linear-gradient(#FFFFFF, #ccc, #FFFFFF) 1;   
            }
            .getstarted{
                height: 100px;
            }
            .slogan{
                font-family: 'Ubuntu', sans-serif;
                font-style: italic
            }
        </style>


        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <!--   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    </body>
</html>