/* CSS Variables */

:root {
  --primary-color: 	#5cb85c;
  --primary-hover-color: #64a5b7;
  --background-color: #333;
  --box-shadow: 3px 4px 12px rgba(0, 0, 0, 0.7);
}


* {
  box-sizing: border-box;
  
}

body {
  font-family: 'Titillium Web', sans-serif;
  margin: 0;
  color: #333;
  background: #f4f4f4;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: var(--primary-color);
}

.container {
  max-width: 960px;
  padding: 1rem 4rem;
  margin: auto;
  overflow: hidden;
}

.error {
  padding: 5px;
  border: #777 dotted 1px;
  margin-bottom: 15px;
}

/* Header */
header {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 6rem;
}

header nav ul {
  display: flex;
}

header nav li {
  margin: 0 1rem;
}

/* Login Button Spacing */
/*header nav li:last-child {
  margin-left: -5px;
}*/

header.inner {
  background: var(--background-color);
  border-bottom: 4px solid var(--primary-color);
  position: relative;
  box-shadow: var(--box-shadow);
}

/* Buttons */
.btn {
  color: #fff;
  padding: 0.6rem;
  border: 1px solid #ccc;
  transition: all 0.7s;
}

.btn:hover {
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: #fff;
}

.btn-reverse {
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.btn-reverse:hover {
  background: var(--primary-hover-color);
  border: 1px solid var(--primary-hover-color);
}





/* Products */
.product {
  background: var(--background-color);
  border-bottom: 4px solid var(--primary-color);
  
  color: #fff;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: var(--box-shadow);
}

.product ul {
  list-style: none;
  display: flex;
}

.product li {
  margin-right: 0.5rem;
  padding: 0.6rem;
}

.product .tech span {
  color: var(--primary-color);
}

/* Form */
.form-wrap {
  margin: auto;
  background: var(--background-color);
  color: #fff;
  padding: 1rem 3rem 3rem;
  margin-top: 3rem;
  border-bottom: 4px solid var(--primary-color);
  box-shadow: var(--box-shadow);
}

.form-wrap.reg-form,
.form-wrap.login-form {
  width: 60%;
}

.form-wrap h1,
.form-wrap h2,
.form-wrap p {
  text-align: center;
}

.form-wrap .btn {
  margin-top: 1rem;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 18px;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

.input-box {
  padding: 0.5rem;
  font-size: 18px;
  width: 100%;
  margin-bottom: 1.2rem;
}

/*   */






.detailCard {      
        background: green;
        text-align: center;
        border-radius: 3px;
        color: #fff;
        padding: 5px 10px;
        font-size: 14px;        
    }

   

.card:hover {
            background: #fff;
            box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
            border-radius: 5px;
            transition: all .5s ease;
        }

.textCard h5{
       
        font-weight: bold;
        
    }




.btn {
        text-transform: uppercase;
        width: 150px;
        height: 40px;
        border-radius: 8px;
        font-size: 16px;
        display: block;
        text-decoration: none;
        margin: 20px auto 1px auto;
        color: #fff;
        overflow: hidden;        
        position: relative;
        background-color: green;
        text-align: center;
    }

.btn:hover {
            background-color: #e6de08;
            color: green;
            font-weight:bold;
            border: 2px solid green;
            background: transparent;
            transition: all 0.3s ease;
            box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
        }

.ad-title h5 {
        text-transform: uppercase;
        font-size: 18px;
    }